[package]
name = "db"
version = "0.1.0"
edition = "2024"

[dependencies]
anyhow = "1.0.100"
serde = {version="1.0.228",feature=["derive"]}
sqlx = {version="0.8.6",features=["postgres", "runtime-tokio", "uuid"]}
